<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902268329274-6pd1gi5ltuo6kmmrbp3ddddvno8vr5p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902268329274-6pd1gi5ltuo6kmmrbp3ddddvno8vr5p4</string>
	<key>API_KEY</key>
	<string>AIzaSyBiwu_zldGpRuQgVt8XF5vFfUrRySjd7Tw</string>
	<key>GCM_SENDER_ID</key>
	<string>902268329274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>myduo-1a88c</string>
	<key>STORAGE_BUCKET</key>
	<string>myduo-1a88c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902268329274:ios:9b7f75e7255ab3dfe54403</string>
</dict>
</plist>